<section class="card">
  <a href="/blog/{{id}}">
    <header>
        <div class="blog-title">{{title}}</div>
        <div class="blog-author">Posted by {{username}} on {{format_date creation_date}}</div>
    </header>
  </a>
  <div class="blog-content">
    {{content}}
  </div>  
</section>
