<section class="card">
  <header>
    <a href="/blog/{{id}}">
      <div class="blog-title">{{title}}</div>
    </a>
      <div class="blog-author">Posted by {{username}} on {{format_date creation_date}}</div>
  </header>
  <div class="blog-content">
    {{content}}
  </div>  
</section>
