<div class = 'blogs'>
  <section class="card">
    <header>
      <div class="card-title">{{post.title}}</div>
      <div class="blog-author">Posted by {{post.author_name}} on {{format_date post.creation_date}}</div>
    </header>
    <div class="blog-content">
      {{post.content}}
    </div>  
  </section>

  <h2>Comments</h2>

  {{#each post.comments as |comment|}}
  {{> comment-details}}
  {{/each}}


  {{#if loggedIn}}
  <section class="card">
      <form class="add-comment">
      <input class='comment-input' type="text" value="Add your comment">
      <input id='comment-submit' type="Submit" value="Submit">
      </form>
  </section>
  {{else}}
  <p><a href="/login">Login</a> to leave your comment </p>
  {{/if}}
</div>

<script src="../js/comment.js"></script>